@model CuaHangHoa.ViewModels.PasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Profile.cshtml";
}

<div class="myaccount-content">
    <h3>Đổi mật khẩu</h3>
    <div class="account-change-pass-form">
        <form asp-controller="User" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <div class="single-input-item mb-3">
                    <label for="current-pwd" class="required mb-1">Mật khẩu hiện tại</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" id="current-password">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-custom">
                        <div class="single-input-item mb-3">
                            <label for="new-pwd" class="required mb-1">Mật khẩu mới</label>
                            <input asp-for="NewPassword" type="password" class="form-control" id="new-password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-custom">
                        <div class="single-input-item mb-3">
                            <label for="confirm-pwd" class="required mb-1">Xác nhận mật khẩu</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm-password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="single-input-item single-item-button">
                <button class="btn flosun-button secondary-btn theme-color  rounded-0">Lưu thay đổi</button>
            </div>
        </form>
    </div>
</div>