@model IEnumerable<CuaHangHoa.Models.LoaiSP>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="myaccount-content">
    <h3>Danh sách loại sản phẩm</h3>
    <div class="account-details-form">
        <p>
            <a asp-action="Create" class="btn flosun-button secondary-btn theme-color rounded-0">Thêm loại</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên loại
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenLoai)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                            @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                            <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



