
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/flosun/flosun/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Dec 2022 05:03:27 GMT -->
<body>

   
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Về chúng tôi</h3>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li>Thông tin cửa hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- About Area Start Here -->
    <div class="about-area mt-no-text">
        <div class="container custom-area">
            <div class="row mb-30 align-items-center">
                <div class="col-md-6 col-custom">
                    <div class="collection-content">
                        <div class="section-title text-left">
                            <h3 class="section-title-1">Sản phẩm hoa</h3>
                        </div>
                        <div class="desc-content">
                            <p>Hoa là món quà vô giá mà thiên nhiên đã dành tặng cho con người. Mỗi loài hoa mang một vẻ đẹp và sắc thái riêng, chính vì vậy mà người thưởng thức hoa có thể gởi gắm tâm tư tình cảm của mình vào giỏ hoa một cách tinh tế, ý nghĩa.</p>
                        </div>
                        @* <a href="shop.html" class="btn flosun-button secondary-btn rounded-0">Shop Collection</a> *@
                        <a href="@Url.Action("Index","Product")" class="btn flosun-button secondary-btn theme-color rounded-0">Mua sắm ngay</a>
                    </div>
                </div>
                <div class="col-md-6 col-custom">
                    <!--Single Banner Area Start-->
                    <div class="single-banner hover-style">
                        <div class="banner-img">
                            <a href="#">
                                <img src="~/images/about/1.jpg" alt="About Image">
                                <div class="overlay-1"></div>
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-custom order-2 order-md-1">
                    <!--Single Banner Area Start-->
                    <div class="single-banner hover-style">
                        <div class="banner-img">
                            <a href="#">
                                <img src="~/images/about/2.jpg" alt="About Image">
                                <div class="overlay-1"></div>
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
                <div class="col-md-6 col-custom order-1 order-md-2">
                    <div class="collection-content">
                        <div class="section-title text-left">
                            <h3 class="section-title-1">Dịch vụ hoa</h3>
                        </div>
                        <div class="desc-content">
                            <p>FloSun có thể diễn đạt tình yêu, sự cảm kích, sự chúc mừng, hoặc thậm chí là lời xin lỗi. 
                                Bằng cách chọn những bông hoa phù hợp, bạn có thể nói lên những điều mà lời nói không thể tường thuật.</p>
                        </div>
                        <a href="@Url.Action("Index","Service")" class="btn flosun-button secondary-btn theme-color rounded-0">Mua sắm ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area End Here -->
    <!-- History Area Start Here -->
    <div class="our-history-area gray-bg pt-5 mt-text-3">
        <div class="our-history-area">
            <div class="container custom-area">
                <div class="row">
                    <!--Section Title Start-->
                    <div class="col-12 col-custom">
                        <div class="section-title text-center mb-30">
                            <span class="section-title-1">Một vài thông tin về cửa hàng</span>
                            <h2 class="section-title-2">Hoa tươi FloSun</h2>
                        </div>
                    </div>
                    <!--Section Title End-->
                </div>
                <div class="row">
                    <div class="col-lg-8 ms-auto me-auto">
                        <div class="history-area-content text-center border-0">
                            <p><strong>Hoa Tươi, Ngôn Ngữ Của Sự Tinh Tế</strong></p>
                            <p style="text-align: justify;">
                                Dành cho những khách hàng nào đang lựa chọn một địa chỉ shop bán hoa tươi uy tín và chất lượng Hoa tươi FloSun 
                                là một chọn lựa đúng đắn. FloSun tự hào là nơi hội tụ của vô số các loại hoa được chọn lọc tỉ mỉ và được thực hiện bởi những bàn tay tinh tế 
                                và đầy chuyên nghiệp của những nghệ nhân nhiều kinh nghiệm, tạo ra những sản phẩm về hoa đầy tính sáng tạo mang phong cách tinh tế 
                                nhưng không thiếu sự sang trọng, đẳng cấp đến từng chi tiết.Với nhiều năm kinh nghiệm trong ngành hoa tươi, chúng tôi cam kết đưa đến 
                                những khách hàng thân yêu những mẫu hoa tươi đẹp nhất, giá rẻ chất lượng nhất với chi phí tiết kiệm nhất. Cung cấp tất cả các mặt hàng 
                                hoa tươi, bao gồm hoa hồng, hoa hướng dương, hoa khai trương, hoa sinh nhật. .. hay các sản phẩm hoa theo mùa. Hoa tươi được chúng tôi chọn lọc kỹ 
                                càng từ các vùng nông trại trồng hoa, có chất lượng tươi mới và thẩm mỹ cao.
                                Ngoài ra, FloSun có cả dịch vụ đặt mua hoa online, giao nhận hoa tận địa điểm 24/7 và các dịch vụ hoa dành cho ngày cưới hỏi.
                                Hãy liên hệ trực tiếp với chúng tôi, sẽ có nhân viên tư vấn lắng nghe và chốt đơn mua hoa cho bạn. Hoa sẽ được chuyển tới địa chỉ quý khách trong thời gian ngắn nhất.
                                Thông điệp mà chúng tôi muốn gửi tới khách hàng là chúc Quý vị luôn vui vẻ, hạnh phúc và có cuộc sống thật tươi đẹp.
                                Chúng tôi xin chân thành cảm ơn sự ủng hộ của Quý Vị.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature History Area End Here -->
    
</body>


<!-- Mirrored from htmldemo.net/flosun/flosun/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Dec 2022 05:03:31 GMT -->
</html>