@using CuaHangHoa.ViewModels;
@using CuaHangHoa.Models;
@model ExternalLoginModel;
@{
    ViewData["Title"] = "Thông tin đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="login-register-area mt-no-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <h3 class="bg-gray p-4">Vui lòng điền thông tin sau đây</h3>
                    <form asp-action="ExternalInfo" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <fieldset class="p-4">
                            <div>
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control mb-4">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" class="form-control mb-4">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" class="form-control mb-4">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="PhoneNumber">Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control mb-4" placeholder="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            
                            <div>
                                <label asp-for="City">City</label>
                                <input asp-for="City" class="form-control mb-4" placeholder="City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn flosun-button secondary-btn theme-color rounded-0">Xác nhận</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

