@model CuaHangHoa.Models.DichVu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="myaccount-content">
    <h3>Tạo dịch vụ</h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenDV" class="control-label">Tên dịch vụ</label>
                    <input asp-for="TenDV" class="form-control" />
                    <span asp-validation-for="TenDV" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mota" class="control-label">Mô tả</label>
                    <input asp-for="Mota" class="form-control" />
                    <span asp-validation-for="Mota" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gia" class="control-label">Giá</label>
                    <input asp-for="Gia" class="form-control" />
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>
                              
                <div class="form-group">
                    <label asp-for="HinhDVs" class="control-label">Hình ảnh</label>
                    <div class="d-flex list-Pic overflow-auto"></div>
                    <input type="file" name="files" id="fileInput" multiple class="mt-3">
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Tạo" class="btn flosun-button secondary-btn theme-color rounded-0" />
                    <a asp-action="Index" class="btn flosun-button secondary-btn theme-color rounded-0">Quay lại</a>
                </div>

            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var preview = $('.list-Pic');
        $('#fileInput').on('change', function () {
            var files = this.files;
            preview.children().remove();

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (!file.type.startsWith('image/')) {
                    continue;
                }

                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.width = 150
                    img.height = 150
                    img.src = e.target.result
                    preview.append(img)
                };
                reader.readAsDataURL(file);
            }

        })
    </script>
}



