@model CuaHangHoa.Models.DonHang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DonHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhiVanChuyen" class="control-label"></label>
                <input asp-for="PhiVanChuyen" class="form-control" />
                <span asp-validation-for="PhiVanChuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenCachThanhToan" class="control-label"></label>
                <input asp-for="TenCachThanhToan" class="form-control" />
                <span asp-validation-for="TenCachThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DaThanhToan" /> @Html.DisplayNameFor(model => model.DaThanhToan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTrangThai" class="control-label"></label>
                <input asp-for="TenTrangThai" class="form-control" />
                <span asp-validation-for="TenTrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DchiGiaoHang" class="control-label"></label>
                <input asp-for="DchiGiaoHang" class="form-control" />
                <span asp-validation-for="DchiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiNhan" class="control-label"></label>
                <input asp-for="NguoiNhan" class="form-control" />
                <span asp-validation-for="NguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

